@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom scrollbar styles for Firefox */
* {
  scrollbar-color: #4B6EAF #f1f1f1; /* Thumb and track colors for Firefox */
}

/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
}
